body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-map {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
}

.results {
  background: white;
  list-style: none;
  padding: 2% 2%;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.result-list:hover {
  color: white;
  background: black;
}
